*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #545454;
  background: #ffff;
}

a {
  color: #545454;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
}

ul {
  list-style: none;
}

p {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
}

.button {
  font-size: 17px;
  line-height: 22px;
  width: 207px;
  height: 52px;
  font-family: 'Georgia', serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.8s;
  border: none;
  transition: all 0.3s;
}

.button:hover {
  background: #FDDCC4;
}

h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.container {
  max-width: 1280px;
  padding: 0px 40px;
  margin: 0 auto;
}

.title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

/* ///////////////Header//////////////// */
.header {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

.header{
  background-color: #ffff;
}

.header__inner {
  display: flex;
  padding: 30px 0 30px 0;
  color: #545454;
}


.logo-title {
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 10px;
}

.logo-subtitle {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-left: 3px;
}

.menu {
  margin-left: auto;
  font-family: 'Arial';
  font-size: 15px;
}

.menu__list {
  display: flex;
  padding-bottom: 9px;

}

.menu__item:first-child {
  margin-left: 0;

}

.menu__item {
  line-height: 24px;
  margin-left: 36px;
  padding-top: 16px;
}

.menu__link {
  padding-bottom: 2px;
  border-bottom: solid 2px transparent;
  transition: all 0.8s ease;
}

.menu__link:hover {
  padding-bottom: 4px;
  color: #292929;
}

.menu__link.active {
  color: #292929;
  padding-bottom: 4px;
  border-bottom: solid 2px #F1CDB3;
}

.menu__burger {
  display: none;
  width: 30px;
  height: 22px;
  padding: 7px 0;
  cursor: pointer;
  z-index: 8;
  position: relative;
  top: 12px;
  right: 43px;
}

.line-menu {
  display: block;
  height: 2px;
  width: 100%;
  margin-bottom: 8px;
  background: rgb(16, 15, 15);
  ;
  transition: all 0.3s ease-in-out;
}


/* ///////////////////our-friend///////////////////// */

.our-friend{
  background: #F6F6F6;
}

.aur-friend__inner {
  padding: 199px 0 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friend__title {
  width: 400px;
  margin-bottom: 60px;
}

.slider-card__inner {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 40px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 31px 41px;
  margin-bottom: 59px;
}

.card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  cursor: pointer;
  border-radius: 9px;
}

.card:hover {
  transition: all 0.5s;
  background: #FFFFFF;
  /* transform: scale(1.1); */
}

.card:hover .card-btn {
  background-color: #F1CDB3;
}

.card-img {
  margin-bottom: 28px;
  background: #FAFAFA;
  border-radius: 9px;
}

.card:hover {
  transition: all 0.5s;
  background: #ffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}

.card__title {
  margin-bottom: 30px;
}

.card-btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background: transparent;
}

.btn__arrow {
  font-size: 20px;
  line-height: 23px;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-color: #F6F6F6;
  margin: auto 0;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 16px;
  letter-spacing: 0.06em;
}

.btn__arrow:last-child {
  margin-right: 0px;
}

.active-number-btn {
  font-family: Georgia, serif;
  cursor: auto;
  background-color: #F1CDB3 !important;
}

.btn__arrow.active {
  background-color: #F1CDB3;
}

.btn__arrow:hover,
.btn__arrow:hover {
  background-color: #FDDCC4;
}

.disabled-btn {
  color: #CDCDCD !important;
  border: 2px solid #CDCDCD;
  cursor: default;
  background-color: inherit !important;
}

.disabled-btn:hover {
  color: #f5f5f5;
  border: 2px solid #CDCDCD;
}

.our-friend-btn {
  width: 261px;
}

/* ////////////////Footer/////////////// */
.footer{
 background: top / cover no-repeat url(../../../assets/img/start-screen-gradient-background-1280.jpg),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container {
  padding-top: 40px;
}

.footer__inner {
  display: flex;
  color: #F6F6F6;
}

.footer-contacts__inner {
  display: flex;
}

.footer__contacts,
.footer__location {
  padding: 16px 0 0 0;
  margin-right: 149px;
}

.contacts-title {
  margin-bottom: 40px;
  width: 290px;
}

.contacts__email,
.contacts__phone {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}

.location__adress {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.location-title {
  margin-bottom: 33px;
}

.email-img,
.phone-img,
.address-img {
  margin-right: 20px;

}

.email,
.phone,
.adress-link {
  display: flex;
  font-size: 20px;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.footer-img {
  height: 310px;
}


@media (max-width:1279px) {
  .container {
    max-width: 1280px;
    padding: 0px 30px;
    margin: 0 auto;
  }

  .our-friend__title {
    width: 400px;
    margin-bottom: 29px;

  }

  .aur-friend__inner {
    padding: 201px 0 77px 0;
  }

  .slider-card__inner {
    width: 580px;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 41px auto;
  }

  .card-items-1 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;

  }

  .card-items-2 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
  }

  .card-items-3 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }

  .card-items-4 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
  }

  .card-items-5 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
  }

  .card-items-6 {
    grid-row-start: 3;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 3;
  }

  .card-items-7 {
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;
  }

  .card-items-8 {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
  }

  .btn__arrow {
    margin-right: 16px;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F6F6F6;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-contacts__inner {
    display: flex;
    padding-top: 13px;
    padding-left: 0px;
    margin-bottom: 24px;
  }

  .location-title {
    width: 270px;
  }

  .footer-img {
    height: 310px;
  }

  .footer__contacts {
    padding: 16px 0 0 0;
    margin-right: 49px;
  }

  .footer__location {
    width: 300px;
    padding: 16px 0 0 0;
    margin-right: 0px;
  }


}

@media (max-width:767px) {
  h4 {
    font-size: 15px;
    line-height: 16.5px;
  }

  .header__inner {
    display: flex;
    padding: 30px 0 30px 0;
  }

  .container {
    padding: 0px 10px;
  }

  .logo__text {
    width: 184px;
    margin-right: 43px;
  }

  .menu__list {
    display: none;
  }

  .menu__burger {
    display: block;
  }

  .title {
    width: 300px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    padding: 0 3px;
    text-align: center;
  }

  .logo-title {
    font-size: 32px;
    line-height: 35px;
    color: #545454;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
  }

  .slider-card__inner {
    width: 270px;
    gap: 30px 41px;
    margin: 0 auto 41px auto;
  }

  .card-items-2 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
  }

  .card-items-5 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
  }


  .aur-friend__inner {
    padding: 162px 0 44px 0;
  }

  .our-friend__title {
    margin-bottom: 42px;
  }

  .btn__arrow {
    margin-right: 6px;
  }

  .contacts__email,
  .contacts__phone {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    color: #F6F6F6;
    justify-content: center;
    align-items: center;
  }

  .footer-contacts__inner {
    display: flex;
    padding-top: 13px;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .location__adress {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
  }

  .location-title {
    margin-bottom: 40px;
  }

  .footer__contacts {
    margin-right: 0px;
  }

  .footer-contacts__inner {
    flex-direction: column;
  }

  .footer-img {
    height: 269px;
  }

  .location__adress-two {
    margin-bottom: 17px;
  }

}