*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #545454;
  background: #ffff;
}

a {
  color: #545454;
  text-decoration: none;
  cursor: pointer;
  /* font-family: 'Arial';
  font-style: normal;
  font-weight: 400; */
  font-size: 15px;
  line-height: 15px;
}


ul {
  list-style: none;
}


p {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
}

/* 
button {
  cursor: pointer;
  letter-spacing: 0.06em;
} */



.button {
  font-size: 17px;
  line-height: 130%;
  width: 207px;
  height: 52px;
  font-family: 'Georgia', serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.8s;
  border: none;
  transition: all 0.3s;
}

.button:hover {
  background: #FDDCC4;
}



h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

/* button:hover {
  color: #ffff;
} */

.container {
  max-width: 1280px;
  padding: 0px 40px;
  margin: 0 auto;
}

.title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  /* display: inline-block; */

}

/* ///////////////Header//////////////// */
.header {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__container {
  background-color: #ffff;
  /* background-size: auto;
  background-position: center 0px; */

}

.header__inner {
  display: flex;
  padding: 30px 0 30px 0;
  color: #545454;

}


.logo-title {
  /* font-family: 'Georgia';
  font-style: normal;
  font-weight: 400; */
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 10px;
}

.logo-subtitle {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-left: 3px;
}





.menu {
  margin-left: auto;
  font-family: 'Arial';
  font-size: 15px;
}

.menu__list {
  display: flex;
  padding-bottom: 9px;

}

.menu__item:first-child {
  margin-left: 0;

}



.menu__item {
  line-height: 24px;
  margin-left: 36px;
  padding-top: 16px;
}

.menu__link {
  padding-bottom: 2px;
  border-bottom: solid 2px transparent;
  transition: all 0.8s ease;
}

.menu__link:hover {
  padding-bottom: 4px;
  color: #292929;
}

.menu__link.active {
  color: #292929;
  padding-bottom: 4px;
  border-bottom: solid 2px #F1CDB3;
}


/* ///////////////////our-friend///////////////////// */

.our-friend__container {
  background: #F6F6F6;
}

.aur-friend__inner {
  padding: 199px 0 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.our-friend__title {
  width: 400px;
  margin-bottom: 60px;

}

/* .slider__card { 
  /* display: grid;
grid-template-columns: repeat(4,1fr);
gap: 15px 20px;
justify-items: center; */

/* }  */

.slider-card__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 40px;
  margin-bottom: 59px;
}

.card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  cursor: pointer;
  border-radius: 9px;
  /* margin-right: 40px; */
}

.card:hover {
  transition: all 0.5s;
  background: #FFFFFF;

}

.card:hover .card-btn {
  background-color: #F1CDB3;
}

/* .card:nth-child(4) {
  margin-right: 53px;
}

.card:nth-child(2) {
  margin-left: 53px;
} */

.card-img {
  margin-bottom: 28px;
  background: #FAFAFA;
  border-radius: 9px;
}


.card:hover {
  transition: all 0.5s;
  background: #ffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}

/* .card-img:hover {
  transition: all 0.5s;
  background: #F6F6F6;
} */

.card__title {
  margin-bottom: 30px;

}

.card-btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background: transparent;
}



.btn__arrow {
  font-size: 20px;
  line-height: 23px;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-color: #F6F6F6;
  margin: auto 0;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 16px;
  letter-spacing: 0.06em;
}

.btn__arrow:last-child {
  margin-right: 0px;
}


.active-number-btn {
  cursor: auto;
  background-color: #F1CDB3 !important;
}

/* .active-number:hover {
  cursor: auto;
  background-color: #F1CDB3 !important;
} */

.btn__arrow.active {
  background-color: #F1CDB3;
}

.btn__arrow:hover,
.btn__arrow:hover {
  background-color: #FDDCC4;
}

.disabled-btn {
  color: #CDCDCD !important;
  border: 2px solid #CDCDCD;
  cursor: default;
  background-color: inherit !important;
}

.disabled-btn:hover {
  color: #f5f5f5;
  border: 2px solid #CDCDCD;
}

.our-friend-btn {
  width: 261px;
  /* height: 52px; */
}

/* ////////////////Footer/////////////// */

.footer__container {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #211F20;
  padding-top: 40px;
}

.footer__inner {
  display: flex;
  color: #F6F6F6;
  /* gap: 0 149px; */
}

.footer__contacts,
.footer__location {
  padding: 16px 0 0 0;
  margin-right: 149px;
}

.contacts-title {
  margin-bottom: 40px;
  width: 290px;
}

.contacts__email,
.contacts__phone {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.location__adress {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.location-title {
  margin-bottom: 33px;
}

.email-img,
.phone-img,
.address-img {
  margin-right: 20px;

}

.email,
.phone,
.adress-link {
  font-size: 20px;
  line-height: 23px;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.footer-img {
  height: 310px;
}