.btn-brand {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 30px;
  margin: 10px 7px;
  outline: 0;
  position: relative;
  width: 40px;
}

.filters-popular {
  color: aliceblue;
}
.btn-cameras {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  height: 40px;
  margin: 10px 7px;
  outline: 0;
  position: relative;
  width: 40px;
}
.btn-color {
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0;
  height: 30px;
  margin: 15px 10px;
  outline: 0;
  position: relative;
  width: 30px;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.filters__container {
  padding: 0 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px 20px;
  margin: 0 auto;
}

.filters {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  border-radius: 31px;
  box-shadow: -1px 0px 50px 5px #e1d5d5;
  .filter-tittle {
    margin: 0;
    padding: 0;
  }
}

.btn_active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
  transform: scale(1.1);
}

.btn-samsung {
  background-image: url("./assets/samsung.svg");
}
.btn-apple {
  background-image: url("./assets/apple.svg");
}

.btn-xiaomi {
  background-image: url("./assets/xiaomi.svg");
}

.btn-colors__white {
  background-color: transparent;
  border-color: white;
  filter: none;
}
.btn-colors__white:hover {
  box-shadow: 0 0 40px 40px #ffffff inset;
}
.btn-colors__white.btn_active {
  background-color: white;
}

.btn-calors__yellow {
  background-color: transparent;
  border-color: yellow;
}
.btn-calors__yellow:hover {
  box-shadow: 0 0 40px 40px #f7d200 inset;
}
.btn-calors__yellow.btn_active {
  filter: none;
  background-color: yellow;
}
.btn-color__red {
  background-color: transparent;
  border-color: rgb(255, 0, 0);
}
.btn-color__red:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}
.btn-color__red.btn_active {
  filter: none;
  background-color: red;
}

.btn-popular {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0;
  height: 30px;
  margin: 15px 10px;
  outline: 0;
  position: relative;
  width: 30px;
  background-color: rgb(111, 101, 101);
}
.btn-popular.btn_active {
  filter: none;
}

.btn-popular.btn_active::before {
  position: absolute;
  bottom: -7px;
  right: 0px;
  content: "✅";
  display: block;
  font-size: 32px;
}

.filters-range {
  text-align: center;
}

.search{
  background-color: transparent;
  background-image: url(./assets/search.34d5c2d6ef9d1d77b576.svg);
  background-position: calc(100% - 20px);
  background-repeat: no-repeat;
  background-size: 20px;
  border: 0;
  color: #fff;
  font-size: 18px;
  height: 40px;
  margin-right: 0;
  width: 100%;
}
.search.noImg{
  background-image: none;
}

.search:focus-visible {
  outline: none;
}
.search-wrapper {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(19, 20, 21, 0.3);
  border: 1px solid #278d9f;
  border-radius: 20px;
  padding-left: 20px;
  position: relative;
}

#select{
  margin-bottom: 50px;
}
.btn-reset-filters,.btn-reset-settings{
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
   margin-bottom: 20px;
  padding: 1em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
   color: #fff;

&:hover {
  box-shadow: 0 0 10px 0 #f12c00 inset, 0 0 10px 4px #eb1010;
}
}

.buttons-reset_wrapper{
  display: flex;
  justify-content: center;
  gap: 0 10px;
}

.clear-btn {
  display: none;
    background-image: url(./assets/cross.c6eccf80bfb60457b3ef.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    font-size: 0;
    height: 20px;
    position: absolute;
    right: 18px;
    top: 12px;
    width: 20px;
}

.clear-btn.btn_active {
  display: block;
}
