.general-buttons {
  margin-bottom: 15px;
}

// .car:hover {

//   transform: translateX(500%);
// }

.car {
  transition: transform 3s;
}
.flag{
  padding-right: 100px;
}

.remove-btn{
  background-color: red !important;
}
