.road{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dashed 6px #fff;
  margin-bottom: 20px;
}

.flag {
    font-size: 100px;
}

.icon-car{
    width: 200px;
    height: 123px;
}
